@font-face {
  font-family: "Kyron";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Feature Display";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Saans";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MabryPro-Regular;
  font-style: 100;
  font-weight: 100;
  src: url("../fonts/Helvetica.woff") format("woff");
}
@font-face {
  font-family: MabryPro-Medium;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roobert-Regular;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: Kyron;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.woff") format("woff");
}

.sp-popup {
  display: none;
}

.footer_text_one {
  color: #d7df22;
}

.sp-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}
.sp-popup-content {
  position: relative;
  background: white;
  padding: 2rem;
  max-width: 1116px;
  width: 85%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 80px 60px;
  max-height: 85%;
  overflow: auto;
}
.sp-popup-content-close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 10000;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.sp-popup-content-right-content-button a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 20px 25px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  font-family: "Saans";
  font-feature-settings: "liga" off, "clig" off;
  font-size: 18px;
  font-weight: 300;
  line-height: 96%;
  padding-right: 50px;
}
.sp-popup-content-right-content-button a span {
  display: inline-block;
  height: 15.5px;
  width: 15.5px;
  margin-left: 10px;
  position: absolute;
  margin-top: 1px;
}
.sp-popup-columns {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.sp-popup-content-left {
  flex: 1;
  position: relative;
}
.sp-popup-content-right {
  flex: 1;
}
.sp-popup-content-right-content-title {
  color: #1a1a1a;
  font-family: "Feature Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 89.6px */
  margin-bottom: 30px;
  font-family: "Feature Display";
}

.sp-popup-content-right-content-text p,
.sp-popup-content-right-content-text p a {
  color: #1a1a1a;
  font-family: "Denim WD";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 20px;
}

.sp-popup-content-left-image {
  position: relative;
  height: 100%;
  width: 100%;
}

.sp-popup-content-left-image-background {
  height: 100%;
  width: 100%;
}
.sp-popup-content-left-image-background img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.sp-popup-content-left-image-logo-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp-popup-content-left-image-logo-overlay img {
  width: 90%;
  max-width: 400px;
}

.mobile-sp-logo {
  display: none;
}

.mobile-sp-logo svg {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/*mobile styles */
@media (max-width: 1000px) {
  .sp-popup-content-left {
    display: none;
  }
  .mobile-sp-logo {
    display: block;
    max-width: 350px;
    margin-top: 30px;
  }
  .sp-popup-content {
    padding: 25px;
    padding-top: 60px;
    max-width: 500px;
  }
  .sp-popup-content-right-content-title {
    font-size: 32px;
  }
  .sp-popup-content-right-content-text p,
  .sp-popup-content-right-content-text p a {
    font-size: 14px;
  }
  .sp-popup-content-right-content-button a {
    font-size: 14px;
    padding: 16px 20px;
    padding-right: 40px;
  }
  .sp-popup-content-right-content-button a span {
    margin-top: -1px;
  }
  .sp-popup-content-close {
    width: 30px;
    height: 30px;
    top: 25px;
    right: 25px;
  }
  .sp-popup-content-close svg {
    width: 30px;
    height: 30px;
  }
}
